* {
  margin: 0;  
padding: 0;
box-sizing:border-box;
--couleur:#3d3dbdfb;


}

ul {

padding: 20px;


}

#coordonnees {
background-color: var(--couleur);

    margin:auto;

    width: 60%;




    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;



}
@font-face {
    font-family: "police";
    src: url();
}